<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- Sidebar -->
<nav id="sidebar" aria-label="Main Navigation" th:fragment="sidebar">
    <!-- Side Header -->
    <div class="content-header bg-white-5">
        <!-- Logo -->
        <a class="font-w600 text-dual" href="">
            <img src="/company/logo" alt="Header Avatar" style="height: 75%;width: 100%;transform: scale(0.7);">
        </a>
        <!-- END Logo -->

        <!-- Options -->
        <div>
            <a class="d-lg-none text-dual ml-3" data-toggle="layout" data-action="sidebar_close"
               href="javascript:void(0)">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <!-- END Side Header -->

    <!-- Side Navigation -->
    <div class="content-side content-side-full">
        <ul class="nav-main">
            <!--reports-->
            <div sec:authorize="@accessChecker.check(authentication, '/dashboard/main.do')
                             || @accessChecker.check(authentication, '/page/dealers')
                             || @accessChecker.check(authentication, '/page/invoices')">
                <li class="nav-main-item"
                    th:classappend="|
                                    ${#request.getServletPath() == '/page/dealers' ? 'open' : ''}
                                    ${#request.getServletPath() == '/page/products' ? 'open' : ''}
                                    ${#request.getServletPath() == '/page/invoices' ? 'open' : ''}|">
                    <!--open class ni qoshib qoyiladi -->
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="nav-main-link-icon si si-grid"></i>
                        <span class="nav-main-link-name">[[#{left.menu.reports}]]</span>
                    </a>

                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <div sec:authorize="@accessChecker.check(authentication, '/page/dealers')">
                                <a class="nav-main-link" href="/page/dealers" th:classappend="${#request.getServletPath() == '/page/dealers' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.dealers}]]</span>
                                </a>
                            </div>
                            <div sec:authorize="@accessChecker.check(authentication, '/page/invoices')">
                                <a class="nav-main-link" href="/page/invoices" th:classappend="${#request.getServletPath() == '/page/invoices' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.invoices}]]</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </div>
            <!--list of documents-->
            <div sec:authorize="@accessChecker.check(authentication, '/page/sales')
                             || @accessChecker.check(authentication, '/page/purchases')
                             || @accessChecker.check(authentication, '/page/returnClient')
                             || @accessChecker.check(authentication, '/page/returnBase')">
                <li class="nav-main-item"
                    th:classappend="|
                                    ${#request.getServletPath() == '/page/sales' ? 'open' : ''}
                                    ${#request.getServletPath() == '/page/purchases' ? 'open' : ''}
                                    ${#request.getServletPath() == '/page/returnClient' ? 'open' : ''}
                                    ${#request.getServletPath() == '/page/returnBase' ? 'open' : ''}|">
                    <!--open class ni qoshib qoyiladi -->
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="nav-main-link-icon si si-layers"></i>
                        <span class="nav-main-link-name">[[#{left.menu.documents}]]</span>
                    </a>

                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <div sec:authorize="@accessChecker.check(authentication, '/page/sales')">
                                <a class="nav-main-link" href="/page/sales" th:classappend="${#request.getServletPath() == '/page/sales' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.sales}]]</span>
                                </a>
                            </div>
                            <div sec:authorize="@accessChecker.check(authentication, '/page/purchases')">
                                <a class="nav-main-link" href="/page/purchases" th:classappend="${#request.getServletPath() == '/page/purchases' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.purchases}]]</span>
                                </a>
                            </div>
                            <div sec:authorize="@accessChecker.check(authentication, '/page/returnClient')">
                                <a class="nav-main-link" href="/page/returnClient" th:classappend="${#request.getServletPath() == '/page/returnClient' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.returnClient}]]</span>
                                </a>
                            </div>
                            <div sec:authorize="@accessChecker.check(authentication, '/page/returnBase')">
                                <a class="nav-main-link" href="/page/returnBase" th:classappend="${#request.getServletPath() == '/page/returnBase' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.returnBase}]]</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </div>
            <!--agents -->
            <div sec:authorize="@accessChecker.check(authentication, '/page/clients')
                             || @accessChecker.check(authentication, '/page/suppliers')">
                <li class="nav-main-item"
                    th:classappend="|
                                    ${#request.getServletPath() == '/page/clients' ? 'open' : ''}
                                    ${#request.getServletPath() == '/page/suppliers' ? 'open' : ''}|">
                    <!--open class ni qoshib qoyiladi -->
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="nav-main-link-icon si si-user"></i>
                        <span class="nav-main-link-name">[[#{left.menu.agents}]]</span>
                    </a>

                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <div sec:authorize="@accessChecker.check(authentication, '/page/clients')">
                                <a class="nav-main-link" href="/page/clients" th:classappend="${#request.getServletPath() == '/page/clients' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.clients}]]</span>
                                </a>
                            </div>
                            <div sec:authorize="@accessChecker.check(authentication, '/page/suppliers')">
                                <a class="nav-main-link" href="/page/suppliers" th:classappend="${#request.getServletPath() == '/page/suppliers' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.suppliers}]]</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </div>

            <!--products and services -->
            <div sec:authorize="@accessChecker.check(authentication, '/page/productGroups')
                             || @accessChecker.check(authentication, '/page/products')
                             || @accessChecker.check(authentication, '/page/units')">
                <li class="nav-main-item"
                    th:classappend="|
                                    ${#request.getServletPath() == '/page/productGroups' ? 'open' : ''}
                                    ${#request.getServletPath() == '/page/products' ? 'open' : ''}
                                    ${#request.getServletPath() == '/page/units' ? 'open' : ''}|">
                    <!--open class ni qoshib qoyiladi -->
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="nav-main-link-icon si si-notebook"></i>
                        <span class="nav-main-link-name">[[#{left.menu.productService}]]</span>
                    </a>

                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <div sec:authorize="@accessChecker.check(authentication, '/page/productGroups')">
                                <a class="nav-main-link" href="/page/productGroups" th:classappend="${#request.getServletPath() == '/page/productGroups' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.productGroups}]]</span>
                                </a>
                            </div>
                            <div sec:authorize="@accessChecker.check(authentication, '/page/products')">
                                <a class="nav-main-link" href="/page/products" th:classappend="${#request.getServletPath() == '/page/products' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.products}]]</span>
                                </a>
                            </div>
                            <div sec:authorize="@accessChecker.check(authentication, '/page/units')">
                                <a class="nav-main-link" href="/page/units" th:classappend="${#request.getServletPath() == '/page/units' ? 'active' : ''}">
                                    <span class="nav-main-link-name">[[#{left.menu.units}]]</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </div>

            <!--settings-->
            <div sec:authorize="@accessChecker.check(authentication, '/api/connection')  ||
                                @accessChecker.check(authentication, '/page/warehouses') ||
                                @accessChecker.check(authentication, '/page/companies')">
                <li class="nav-main-item" th:classappend="|
                                                            ${#request.getServletPath() == '/api/connection' ? 'open' : ''}
                                                            ${#request.getServletPath() == '/page/warehouses' ? 'open' : ''}
                                                            ${#request.getServletPath() == '/page/companies' ? 'open' : ''}|">

                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true"
                       aria-expanded="true" href="#">
                        <i class="nav-main-link-icon si si-settings"></i>
                        <span class="nav-main-link-name"> [[#{left.menu.settings}]] </span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="/api/connection" th:classappend="${#request.getServletPath() == '/api/connection' ? 'active' : ''}">
                                <span class="nav-main-link-name">[[#{left.menu.apiConnection}]]</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="/page/warehouses" th:classappend="${#request.getServletPath() == '/page/warehouses' ? 'active' : ''}">
                                <span class="nav-main-link-name">[[#{left.menu.warehouse}]]</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link" href="/page/companies" th:classappend="${#request.getServletPath() == '/page/companies' ? 'active' : ''}">
                                <span class="nav-main-link-name">[[#{left.menu.company}]]</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
    </div>
    <!-- END Side Navigation -->
</nav>
<!-- END Sidebar -->
</body>
</html>